#locations_card {
    background-color: rgb(206, 240, 197);
    color: black;
}
#locations_header {
    background-color: rgb(206, 240, 197);
}

#restaurant_card {
    background-color:rgb(212, 212, 212);
    color: rgb(35, 136, 35);
}

#restaurants_header {
    background-color:rgb(212, 212, 212);
}

#events_card {
    background-color: rgb(255, 255, 179);
}

#events_header {
    background-color: rgb(255, 255, 179);
}